*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(rgb(31, 30, 30), black);
}
.container{
    max-width: auto;
    margin: auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:  inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    padding: 5px;
    display: inline-block;
    background: #ff523b;
    border-radius: 30px;
    transition: background 0.5s;
}
a:hover{
    background: #563434;
}
p{
    font-size: 20px;
    color: whitesmoke;
}
.Aboutrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 200px;
    padding-top: 100px;
}
@media only screen and (max-width: 1200px){

    nav a{
        font-size: x-large;
    }
    .navbar img{
        width: 10%;
        height: 10%;
    }
    
}