*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    position: relative;
    z-index: -3;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background: radial-gradient(rgb(220, 230, 236), rgb(69, 81, 247));
}


/*--------------------Navbar-------------------------*/
.header{
    background: radial-gradient(rgb(227, 234, 238), rgb(69, 81, 247));
    position: sticky;
    top: 0;
    align-self: flex-start;
    z-index: 1;
}
.container{
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar .menu-icon{
    width: 30px;
    padding-right: 10px;
}
.logo img{
    width: 50px;
    padding: 2px;
}
nav img{
    width: 20px;
}
nav{
    padding-right: 10px;
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(31, 29, 29);
    cursor: pointer;
}
#cart-icon{
    cursor: pointer;
    padding-right: 5px;
}

/*------------------------------Cart------------------------------*/

.cart-container {
    margin: auto;
    width: 95%;
    position: sticky;
    top: 55px;
    align-self: flex-start;
}
  
#badge1,#badge2 {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 10px 15px;
    background: white;
    width: 320px;
    position: absolute;
    right: 0;
    border-radius: 3px;
    padding: 20px;
    z-index: 1;
}
    
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
#shopping-cart-total{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartEmpty{
    text-align: center;
}
#shopping-cart-items {  
    padding-top: 20px;
    list-style: none;
}
.shopping-cart li {
    margin-bottom: 18px;
}
  
.shopping-cart img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-right: 12px;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
      
.item-price {
    color: blue;
    margin-right: 8px;
}
      
.item-quantity {
    width: 35px;
}
.RemoveFromCart{
    cursor: pointer;
    color:red;
}
     
  
.shopping-cart:after {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
  
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
  
.button {
    background: blue;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: lighten(blue, 3%);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*------------------------- Account------------------------*/
.back-btn-container{
    width: 100px;
    height: 50px;
    padding: 30px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    
}
.account-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.82);
    border-width: 8px;
    border-style: none;
    border-color: transparent;
    border-radius: 40px;
    width: 55%;
}
.account-title h1{
    text-align: center;
    padding-bottom: 40px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.buttons button{
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background:linear-gradient(rgba(230, 81, 81, 0.82),rgba(230, 218, 63, 0.82));
    box-shadow: 0px 0px 16px 6px ;
    border-radius: 8px;
    border-style: none;
    border-color:transparent;
}
.accountInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email, .password, .address, .firstName, .lastName{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.accountInfo p{
    padding: 20px;
}
#smallBtn, #passwordBtn{
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background:linear-gradient(rgba(230, 81, 81, 0.82),rgba(230, 218, 63, 0.82));
    box-shadow: 0px 0px 16px 6px ;
    border-radius: 8px;
    border-style: none;
    border-color:transparent;
}
input{
    width: 250px;
    height: 20px;
}
#passInput1 , #passInput2{
    width: 100px;
    height: 20px;
}
.accountInfo{
    text-align: center;
}
.accountInfo small{
    color: red;
    text-align: center;
}
#password{
    -webkit-text-security: disc;
}

/* --------------------Orders--------------------- */
.account-container .title{
   text-align: center;
   border-bottom-style: solid;
}
.product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom-style: solid;
}
.product img{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
.product small{
    width: 200px;
    text-align: left;
}
.product p{
    font-weight: bold;
}
.product #cost, #date{
    color: blue;
}
/*--------- media query for menu < 800 square size----------*/

.menu-icon{
    width: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;       
        overflow: hidden;
        transition: max-height .5s;
    }
    nav ul li{
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*--------media query for less than 600 square size-------*/
@media only screen and (max-width: 600px){
    .account{
        margin: 50%;
        margin-top: 10%;
        
    }
    .account-container{
        width:fit-content;
        height:fit-content;
    }
    .account-container h1, h2{
        font-size: large;
    }
    .email, .password, .address, .firstName, .lastName{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .product{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .cart-container{
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
        top: 127px;
    }
}