*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: -3;
}
/*--------------------Navbar-------------------------*/
.header{
    background: radial-gradient(rgb(141, 133, 133), rgb(233, 230, 230));
    position: sticky;
    top: 0;
    align-self: flex-start;
    z-index: 1;
}
.container{
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu-icon{
    width: 30px;
    padding-right: 10px;
}
.logo img{
    width: 50px;
    padding: 2px;
}
nav img{
    width: 20px;
}
nav{
    padding-right: 10px;
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(31, 29, 29);
}


/*-------------------- Cart ------------------------*/

#cart-icon{
    cursor: pointer;
    padding-right: 5px;
}
.cart-container {
    margin: auto;
    width: 95%;
    position: sticky;
    top: 55px;
    align-self: flex-start;
    z-index: 1;
}
  
#badge1,#badge2 {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
  
.shopping-cart {
    margin: 10px 15px;
    background: white;
    width: 320px;
    position: absolute;
    right: 0;
    border-radius: 3px;
    padding: 20px;
}
    
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
#shopping-cart-total{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartEmpty{
    text-align: center;
}
#shopping-cart-items {  
    padding-top: 20px;
}
.shopping-cart li {
    margin-bottom: 18px;
}
  
.shopping-cart img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-right: 12px;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
      
.item-price {
    color: blue;
    margin-right: 8px;
}
      
.item-quantity {
    width: 35px;
}
.RemoveFromCart{
    cursor: pointer;
    color:red;
}
     
  
.shopping-cart:after {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
  
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
  
.button {
    background: blue;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: lighten(blue, 3%);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*--------------------Products------------------------ */

.products-container{
    background: radial-gradient(rgb(141, 133, 133), rgb(233, 230, 230)); 
    padding-top: 8%;
    padding-bottom: 12%;
    position: relative;
    z-index: -1;
}
.title-row{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}
.btnLeft, .btnRight{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.btnLeft a, .btnRight a{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}
.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.col-1 .Image img, .col-3 .Image img {
    width: 10rem;
    height: 10rem;
    object-fit: scale-down;
}
.col-2 .Image img{
    width: 11rem;
    height: 11rem;
    object-fit: scale-down;
}
.AddtoCart{
    cursor: pointer;
}


/*--------------------Footer-------------------------*/

.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding-top: 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:white;
    margin-bottom: 20px;
}
.footer-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer-col-1{
    padding-left: 40px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 75px;
    padding-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 20%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    padding-top: 20px;
}
.app-logo img{
    width: 75px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}

/*--------- media query for menu < 800 square size----------*/

.menu-icon{
    width: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;       
        overflow: hidden;
        transition: max-height .5s;
    }
    nav ul li{
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*--------media query for less than 600 square size-------*/
@media only screen and (max-width: 600px){
    
    .cart-container {
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
        top: 127px;
    }
}