*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fuzzy Bubbles', cursive;
}


/* ----------------------Gallery-------------------------- */

.gallery-container{
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: rgb(87, 21, 21);
    padding-bottom: 2%;
}
.gallery-col{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    visibility: hidden;
}
.gallery-container img{
   margin-top: 8px;
   vertical-align: middle;
   width: 100%;
}
.gallery-container img:hover{
    animation: scale .5s forwards;
}
.reveal.active1 {
    animation: 2s ease-in .5s 1 appear;
    animation-fill-mode: forwards;
}
.reveal.active2{
    animation: 2s ease-in 1.5s 1 appear;
    animation-fill-mode: forwards;
}
.reveal.active3{
    animation: 2s ease-in 2s 1 appear;
    animation-fill-mode: forwards;
}
.reveal.active4{
    animation: 2s ease-in 1s 1 appear;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes scale {
	from{
        transform: scale(1);
    }
    to{
        transform: scale(1.035);
    }
}

@media only screen and (max-width: 1000px){
    .gallery-col{
        flex: 50%;
        max-width: 50%;
    }

}

@media only screen and (max-width: 600px){

    .gallery-col{
        flex: 100%;
        max-width: 100%;
    }
}
