*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fuzzy Bubbles', cursive;
}

/* -----------------------Home------------------------ */

.home-container{
    scroll-snap-align: start;
}
.home-row-1{
    display:flex;
    background-image: url(images/table.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-row-1 img{
    height: 600px;
    width: 500px;
    object-fit: scale-down;
    user-select: none;
}
.home-row-2{
    display:flex;
    background-image: url(images/burger-pattern.jpeg);
    background-repeat: repeat;
    background-size:contain;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 100px;
    
}
.home-row-2-col-1, .home-row-2-col-2, .home-row-2-col-3{
    border-style:dotted;
    border-radius: 40px;
    padding:30px;
    background-color: rgb(11, 250, 178, .8);
}
.home-row-2-col-1  ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-row-2-col-1 ul li{
    list-style: none;
}
.home-row-2-col-1  ul li a{
    color: rgb(87, 21, 21);
    font-size: 2rem;
    text-decoration: none;
    
}
.home-row-2-col-1  ul li a:hover{
    color: blue;
    
    
}
.home-row-2-col-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.home-row-2-col-2 h1{
   font-size: 2.5rem;
}
.home-row-2-col-3{
    text-align: center;
}
.home-row-2-col-3 a{
    cursor: pointer;
}

@media only screen and (max-width: 1380px){
    .home-row-1 img{
        margin-top: 30vh;

    }

}

@media only screen and (max-width: 1000px){

.home-row-1{
   overflow-x: scroll;
}

.home-row-2{
    flex: 100%;
    gap: 30px;
}
.home-row-2-col-1 ul li a{
    font-size: 10rem;
}
.home-row-2-col-2, .home-row-2-col-3{
    font-size: 3rem;
}

}