html{
    background-image: url("../../assets/images/signupbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    color: #12186a; 
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1 {
  font-size: 6em;
  text-shadow: white 2px 2px;
  margin-top: 100px;
}

form{
  color: wheat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: large;
}

form input{
  width: 200px;
  height: 30px;
  border-radius: 8px;
  font-size: large;
}

button{
  background-color: #12186a; /* Light button color */
  color: wheat; /* Dark text color */
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  border: solid #12186a;
  box-shadow: #040618 1px 2px;
  border-radius: 20px;
  
}

button:hover{
  cursor: pointer;
}