*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    position: relative;
    z-index: -3;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background: radial-gradient(rgb(220, 230, 236), rgb(69, 81, 247));
}


/*------------------------- Account------------------------*/
.back-btn-container{
    width: 100px;
    height: 50px;
    padding: 30px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    
}
.account-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.82);
    border-width: 8px;
    border-style: none;
    border-color: transparent;
    border-radius: 40px;
    width: 55%;
}
.account-title h1{
    text-align: center;
    padding-bottom: 40px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.buttons button{
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background:linear-gradient(rgba(230, 81, 81, 0.82),rgba(230, 218, 63, 0.82));
    box-shadow: 0px 0px 16px 6px ;
    border-radius: 8px;
    border-style: none;
    border-color:transparent;
}
.accountInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email, .password, .address, .firstName, .lastName{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.accountInfo p{
    padding: 20px;
}
#smallBtn, #passwordBtn{
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background:linear-gradient(rgba(230, 81, 81, 0.82),rgba(230, 218, 63, 0.82));
    box-shadow: 0px 0px 16px 6px ;
    border-radius: 8px;
    border-style: none;
    border-color:transparent;
}
input{
    width: 250px;
    height: 20px;
}
#passInput1 , #passInput2{
    width: 100px;
    height: 20px;
}
.accountInfo{
    text-align: center;
}
.accountInfo small{
    color: red;
    text-align: center;
}
#password{
    -webkit-text-security: disc;
}
.deleteAccount{
    width: 100px;
    height: 40px;   
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(rgba(255, 8, 8, 0.82),rgba(240, 99, 17, 0.82));;
}
/* --------------------Orders--------------------- */
.account-container .title{
   text-align: center;
   border-bottom-style: solid;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom-style: solid;
}
.product img{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
.product small{
    width: 200px;
    height: 25%;
    text-align: left;
    overflow-y: scroll;
}
.product small::-webkit-scrollbar{
    display: none;
}
.product p{
    font-weight: bold;
    
}
.product #cost, #date{
    color: blue;
}


/*--------media query for less than 600 square size-------*/
@media only screen and (max-width: 600px){
    .account{
        margin: 50%;
        margin-top: 10%;
        
    }
    .account-container{
        width:fit-content;
        height:fit-content;
    }
    .account-container h1, h2{
        font-size: large;
    }
    .email, .password, .address, .firstName, .lastName{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .product{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .cart-container{
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
    }
}