*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: -3;
}

/*--------------------Products------------------------ */

.products-container{
    background: radial-gradient(rgb(141, 133, 133), rgb(233, 230, 230)); 
    padding-top: 2%;
    position: relative;
    height: 100vh;
    z-index: -1;
}
.title-row{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    padding-left: 20px;
}
.row{
    display:grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}

.col{
    width:100vw;
    padding-left: 35%;
    padding-right: 35%;
    height:auto;
    justify-items: center;
    align-content: center;
    text-align: center;
    scroll-snap-align: start;
    user-select: none;
}
.row::-webkit-scrollbar{
    display:none;
}
.col a{
    width:fit-content;
}
.col img{
    width: 30vw;
    height: 30vh;
    padding-top:20px;
    object-fit: scale-down;
}
.AddtoCart{
    cursor: pointer;
}
.btn-row{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1%;
}
.btn-row a{
    cursor: pointer;
    user-select: none;
    font-size: 10rem;
}
.col img:hover{
    animation: bounceAnimation .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounceAnimation {
	from {transform: translateY(0px);}
	to {transform: translateY(-20px);}
}

/*--------media query for less than 600 square size-------*/
@media only screen and (max-width: 600px){
    
    .cart-container {
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
        
    }
}