#cart-icon1, #cart-icon2{
    cursor:pointer;
    padding-right: 5px;
}
.cart-container {
    margin: auto;
    width: 95%;
    position: sticky;
    top: 55px;
    align-self: flex-start;
    z-index: 3;
}
  
#badge1,#badge2,#badge3 {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
  
.shopping-cart {
    margin: 10px 15px;
    width: 300px;
    background: white;
    position: absolute;
    right: 0;
    border-radius: 3px;
    padding: 20px;
    display:none;
}
.clearfix div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}   
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
#shopping-cart-total{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartEmpty{
    text-align: center;
}
#shopping-cart-items {
    max-height: 50vh;  
    padding-top: 20px;
    overflow-y: scroll;
    list-style: none;
}
#shopping-cart-items::-webkit-scrollbar{
    display: none;
}
.shopping-cart li {
    margin-bottom: 18px;
}
  
.shopping-cart img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-right: 12px;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
      
.item-price {
    color: blue;
}
      
.item-quantity {
    width: 35px;
}
.RemoveFromCart{
    cursor: pointer;
    color:red;
    font-size: x-large;
}
     
  
.shopping-cart:after {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
  
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
  
.button {
    background: blue;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: lighten(blue, 3%);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}