*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    position: relative;
    z-index: -3;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background: radial-gradient(rgb(220, 230, 236), rgb(69, 81, 247));
}

/*-------------------------success------------------------*/
.success-container{
    display: grid;
    width: auto;
    height: 100vh;
    justify-items: center;
    align-items: center;
}
.success{
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 16px 0;
    border-style: none;
    box-shadow: #333;
}
.success-title{
    padding-bottom: 50px;
}
.success-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.success-btns button{
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 16px 0;
    border-style: none;
    background: linear-gradient(rgb(255, 251, 0),rgb(194, 16, 10));
    font-weight: bold;
    cursor: pointer;
}


/*--------- media query for menu < 800 square size----------*/

.menu-icon{
    width: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(252, 252, 252);
        width: 60%;       
        overflow: hidden;
        transition: max-height .5s;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-icon1{
        display: none;
    }
    .cart-icon2{
        display: block;
    }
    
}


