*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    scroll-behavior: smooth; 
}
body{
    position: relative;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: -3;
}

/*--------------------Products-------------------------*/
.small-container{
    min-height: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: -1;
    background: radial-gradient(rgb(141, 133, 133), rgb(95, 93, 93));
}
.sort-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
}
.sort-row h2{
    margin-left: 10%;
}
.sorting{
    margin-left: auto; 
}
.typesorting{
    margin-right: 10%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.col{
    flex-basis: 25%;
    padding: 50px;
}
.col img{
    width: 15rem;
    height: 15rem;
    object-fit: scale-down;
    transition: transform 0.5s;
}
.col p{
    font-size: 14px;
}
.col img:hover{
    transform: translateY(-5px);
}
.AddtoCart{
    cursor: pointer;
    font-size: xx-large;
}

/*--------------------Sorting and Page Buttons-------------------------*/

select{
    border: 1px solid green;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 20px auto 0px auto;
    text-align: center;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #0ab120;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #0ab120;
    color:rgb(0, 0, 0);
}


@media only screen and (max-width: 1300px){

    .col img{
        width: 9rem;
        height: 9rem;
    }
    
    .cart-container {
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
        top: 50px;
    }
}
/*--------media query for less than 980 square size-------*/
@media only screen and (max-width: 980px){

    .row{
        flex-direction: column;
    }
    
    .cart-container {
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
        top: 50px;
    }
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(252, 252, 252);
        width: 60%;       
        overflow: hidden;
        transition: max-height .5s;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-icon1{
        display: none;
    }
    .cart-icon2{
        display: block;
    }
}