.header-container{
    background: black;
    margin: auto;
    position: sticky;
    top: 0;
    align-self: flex-start;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size:medium;
    color:white;
}
.logo img{
    width: 50px;
    padding: 2px;
}
nav img{
    width: 20px;
}
nav{
    display: flex;
    padding-right: 10px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #8a8a8a;
    cursor: pointer;
}
.cart-icon2{
    display: none;
}


@media only screen and (max-width: 1200px){
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(252, 252, 252);
        width: 100vw; 
        height: 100vh;      
        overflow: hidden;
        transition: height .5s;
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul a{
        color: black;
        font-size: 3rem;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-icon1{
        display: none;
    }
    .cart-icon2{
        display: block;
        padding-right: 20px;
        color: #8a8a8a;
    }
    #MenuItems{
        height: 0px;
    }
}