*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html,body{
    position: relative;
    z-index: -3;
    font-family: 'Poppins', sans-serif;
    scroll-snap-type:y proximity;
    scroll-behavior: smooth; 
    scroll-padding: 55px;
}
.section-1, .section-2, .section-3, .section-4{
    scroll-snap-align: start;
    z-index: 1;
}


/* ----------------------------Intro----------------------------- */

.intro-container{
    position: relative;
    background-image: url("images/introbackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.intro-container h1{
    font-size: 8vw;
    color:rgb(0, 0, 0);
    -webkit-text-stroke:2px rgb(250, 250, 250);
    
}


/*--------------------Categories to choose-------------------------*/
.categories{
    border-top-style: solid;
    border-bottom-style: solid;
    height: 30vh;
    position: relative;
    display:grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}
.categories::-webkit-scrollbar{
    display: none;
 }


.headset, .mouse, .keyboard , .pc{
    position: relative;
    height: 100%;
    width: 100vw; 
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.categories a{
    font-size: 5rem;
    color:rgb(255, 255, 255);
    -webkit-text-stroke:2px rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}
.categories a:hover{
    animation: bounceAnimation infinite .5s alternate;
}
.headset{
    background-image: url(images/headsetbackground.jpg);
   
}
.keyboard{
    background-image: url(images/keyboardbackground.jpeg);
   
}
.mouse{
    background-image: url(images/mousebackground.jpg);
   
}
.pc{
    background-image: url(images/computerbackground.jpeg);
    
}
/*--------------------Exclusive-------------------------*/
.offer-container{
    position: relative;
    background: radial-gradient(rgb(141, 133, 133), rgb(95, 93, 93));
    border-bottom-style: solid;
} 
.row-4{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
   
}
.col-5{
    max-height: 100%;
}
.col-5 img{
    max-height: 100%;
    height: 260px;
    object-fit: scale-down;
}
.col-5 p{
    font-size: 1rem;
}
.col-5 small{
    color:rgb(0, 0, 0);
}
.offer-container .btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    text-decoration: none;
}

/*--------------------Products-------------------------*/
.products-container{
    position: relative;
    background: radial-gradient(rgb(141, 133, 133), rgb(95, 93, 93));
    border-bottom-style: solid;
}
.products-container .title{
    text-align: center;
    font-size: 50px;
    color: rgb(14, 13, 13);
    padding-bottom: 50px;
}
.row-3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 50px;
    user-select: none;

}
.row-3 a{
    font-size: x-large;
    cursor: pointer;
}
.col-4{
    cursor: pointer;
    flex-basis: 25%;
    transition: transform 0.5s;
}
.col-4 img{
    width: 10rem;
    height: 10rem;
    object-fit: scale-down;
}
.col-4 p{
    font-size: 14px;
}
.col-4 img:hover{
    animation: bounceAnimation .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounceAnimation {
	from {transform: translateY(0px);}
	to {transform: translateY(-20px);}
}

/*--------------------testimonial-------------------------*/
.testimonial-container{
    display: flex;
    position: relative;
    background-image: url("images/computerbackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
}
.row-5{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-6{
    flex-basis: 30%;
}
.col-6 p{
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 2rem;
}
.col-6 img{
    width: 125px;
}
.testimonial-container .col-6{
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0);
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-container .col-6 img{
    width: 50px;
    border-radius: 50%;
}
.testimonial-container .col-6:hover{
    transform: translateY(-10px);
}
.fa-quote-left, .fa-quote-right{
    -webkit-text-stroke: 1px black;
    color: white;
}
.testimonial-container .fa-star, .testimonial-container .fa-star-o{
    color: gold;
}
.col-6 h3{
    -webkit-text-stroke: 1px black;
    color: white;
}

/*--------------------brands-------------------------*/
.brands{
    margin: auto;
    position: relative;
    background-color: rgba(3, 3, 3, 0.89);
}
.row-6{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-7{
    width: 160px;
}
.col-7 img{
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-7 img:hover{
    filter: grayscale(0);
}

/*--------- media query for menu < 800 square size----------*/

.menu-icon{
    width: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    .navbar{
        margin-bottom: 0;
    }
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(252, 252, 252);
        width: 60%;       
        overflow: hidden;
        transition: max-height .5s;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-icon1{
        display: none;
    }
    .cart-icon2{
        display: block;
    }
    .cart-container {
        margin: auto;
        width: 95%;
        position: sticky;
        align-self: flex-start;
    }
    
}

/*--------media query for less than 11000 square size-------*/

@media only screen and (max-width: 1100px){
    .intro-container{
        background-attachment:scroll;
    }

    .categories a{
        font-size: 3rem;
    }
    .row-3{
        height: fit-content;
        flex-direction: column;
        gap: 30px;
    }
    
}
